@import "styles/variables";

.Contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 6px;
    background-color: $green-900;

    .title {
        color: $white;
    }

    .phone {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 6px;

        span {
            color: $yellow-500;
        }

        img {
            height: 20px;
        }
    }
}