@import "styles/variables";

.Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    background-color: $green-700;

    @media (max-width: $desktop_xsm) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.MenuMobile {
    display: none;
    gap: 5px;

    @media (max-width: $desktop_xsm) {
        display: flex;
    }

    span {
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        color: $white;
    }
}

.Link {
    text-decoration: none;
}

.Menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $green-700;

    ul {
        display: flex;

        @media (max-width: $desktop_xsm) {
            display: none;
        }

        li {
            padding: 22px;
            color: $white;
            font-weight: 900;
        }
    }
}

.CustomerArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: $white;
    font-weight: 900;

    @media (max-width: $desktop_xsm) {
        display: none;
    }

    span {
        color: $white;
    }
}