@import "styles/variables";

.AccordionItem {
    display: felx;

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        padding-top: 10px;
        background-color: $white;
    }

    hr {
        border: 1px solid #CCD1D6;
    }

    @media (max-width: $desktop_xsm) {
        padding: 20px;
    }

}

.Title {
    display: flex;
    justify-content: space-between;
}

.TitleH1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.TitleImg {
    cursor: pointer;
}