@import "styles/variables";

.PorQueSeguro {
    display: flex;
    flex-direction: row;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 210px;
    padding-right: 210px;
    background-color: $white;
}