@import "styles/variables";

.Footer {
    padding-left: 210px;
    padding-right: 210px;
}

.ColorHr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}

.SocialItems {
    display: flex;
    align-items: center;
    gap: 12px;
}

.Hr {
    padding: 0;
    margin: 0;
    border: solid 1px $green-900;
}

.FooterMenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 25px;
    padding-bottom: 25px;
}

.Link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $footer-blue;

    li {
        padding-top: 6px;
    }

    li:hover {
        display: flex;
        align-items: center;
        color: $green-500;
    }
}

.Links {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.Sales {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.SalesItem {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.SalesLink {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $footer-blue;

    li {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    li:hover {
        display: flex;
        align-items: center;
        color: $green-500;
    }
}

.Payments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid #007e47;
}

.PaymentsContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;

    img {
        height: 30px;
    }
}

.PaymentsTitle {
    font-size: 16px;
    font-weight: 900;
    color: $footer-blue;
}

.PaymentsBanks {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.PaymentsBank {}

.CopyrightSponsors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
    padding-top: 50px;
}

.Copyright {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.Sponsors {
    display: flex;
    justify-content: end;

    img {
        height: 50px;
    }
}