@import "styles/variables";

.Footer {
    padding-left: 210px;
    padding-right: 210px;
}

.ColorHr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}

.SocialItems {
    display: flex;
    align-items: center;
    gap: 12px;
}

.Hr {
    padding: 0;
    margin: 0;
    border: solid 1px $green-900;
}

.FooterMenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 25px;
    padding-bottom: 25px;
}

.Link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #435162;

    li {
        padding-top: 6px;
    }

    li:hover {
        display: flex;
        align-items: center;
        color: $green-500;
    }
}

.Links {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.Sales {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.SalesItem {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.SalesLink {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #435162;

    li {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    li:hover {
        display: flex;
        align-items: center;
        color: $green-500;
    }
}