$white: #ffffff;

$gray-500: #F5F5F5;
$gray-600: #F8F8F8;
$gray-700: #D9D9D9;
$gray-800: #ACB4BA;
$gray-900: #3B454F;

$green-500: #60C742;
$green-600: #83AF38;
$green-700: #006E3E;
$green-800: #33794A;
$green-900: #03341C;

$yellow-500: #FFB31A;

$hr-yellow: #FFD012;
$hr-green-1: #007E47;
$hr-green-2: #64BA00;
$hr-purple: #68629C;

$footer-blue: #435162;

$shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);

$mobile: 768px;
$desktop_xsm: 980px;
$desktop_sm: 1080px;
$desktop_md: 1280px;